fabric
pyyaml
oauth2client
google-cloud-secret-manager
streamlit
# streamlit-navigation-bar
pandas
numpy
psutil  # used for system metrics logging in mlflow

cryptography
bcrypt
passlib

mlflow
mlflow[extras]
mlserver
# pyenv  VIA BREW/BASH 
pycryptodome
# jose # JWT

sqlmodel

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp

grpcio
pymilvus

langchain
langchain-openai

feast[redis]

dacite  # loading and saving of nested dataclasses